body {
    background: deeppink;
}

#app {
    font-family: monaco;
    background: deeppink;
    width: 100%;
    height: 100%;
    text-align: center;
    a {
        background: gray;
        width: 150px;
        height: 60px;
        color: white;
    }
}

#app h1 {
    color: white;
}